<a href="https://colab.research.google.com/github/Pooja123667/Smart_Tendering_ML/blob/main/Smart_Tender_system_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing necessary Libraries <br>
**1. Understanding and Analyzing the Dataset**

In [ ]:
import pandas as pd
import io 
print("Import success")

Import success

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Pooja123667/Smart_Tendering_ML/main/FY19_BID_Trends_Report_Data%20(3).csv", low_memory=False) 
#https://raw.githubusercontent.com/Pooja123667/Smart_Tendering_ML/main/FY19_BID_Trends_Report_Data%20(3).csv
#https://raw.githubusercontent.com/Pooja123667/Smart_Tendering_ML/main/file_name%20(2).csv

In [ ]:
df.head(1)

   index company name  ...  Supplies and equipment costs Other G&A expenses
0      1   Moreno LLC  ...                       $3,749            $46,053

[1 rows x 47 columns]

In [ ]:
df.shape

(99998, 47)

In [ ]:
df.describe()

              index  ...  Estimated attendees to public events coordinated
count  99998.000000  ...                                      99998.000000
mean   49999.500000  ...                                     101390.907458
std    28867.080446  ...                                      57102.558881
min        1.000000  ...                                       2501.000000
25%    25000.250000  ...                                      51787.000000
50%    49999.500000  ...                                     101619.500000
75%    74998.750000  ...                                     150867.500000
max    99998.000000  ...                                     200000.000000

[8 rows x 20 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99998 entries, 0 to 99997
Data columns (total 47 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   index                                                              99998 non-null  int64
 1   company name                                                       99998 non-null  object
 2   Floor Size                                                         99998 non-null  int64
 3   Full-time staff                                                    99998 non-null  object
 4   Sanitation staff employed                                          99998 non-null  int64
 5   Safety Inspector                                                   99998 non-null  int64
 6   Part-time staff                                                    99998 non-null  int64
 7   Current clients                                                    99997 non-null  object
 8   Bid provides supplemental sanitation services                      99998 non-null  object
 9   Types of duties assigned to sanitation workers                     72 non-null     object
 10  Days per week of sanitation services                               99995 non-null  float64
 11  Hours logged by sanitation workers                                 99998 non-null  int64
 12  Incidents of graffiti removed                                      99998 non-null  object
 13  Trash bags collected                                               99998 non-null  int64
 14  Trash and recycling receptacles serviced                           99998 non-null  int64
 15  Bid provides supplemental public safety services                   99998 non-null  object
 16  Duties assigned to public safety personnel                         36 non-null     object
 17  Hours logged by public safety officers                             99977 non-null  float64
 18  Interactions with public safety officers                           99975 non-null  float64
 19  Bid provides supplemental streetscape and beautification services  99998 non-null  object
 20  Planters and hanging baskets maintained                            99998 non-null  int64
 21  Tree pits maintained                                               99998 non-null  int64
 22  Banners maintained                                                 99998 non-null  int64
 23  Public art installations sponsored                                 99998 non-null  int64
 24  Street furniture elements maintained                               99978 non-null  object
 25  Wayfinding elements maintained                                     99980 non-null  object
 26  Lighting elements maintained                                       99986 non-null  object
 27  Other infrastructure elements maintained                           99988 non-null  object
 28  Public spaces maintained                                           99979 non-null  float64
 29  Bid has holiday lighting program                                   99998 non-null  object
 30  Communication channels used                                        73 non-null     object
 31  Social media followers                                             99998 non-null  int64
 32  Marketing materials distributed                                    99998 non-null  int64
 33  Public events coordinated                                          99998 non-null  int64
 34  Estimated attendees to public events coordinated                   99998 non-null  int64
 35  Special event charges                                              99992 non-null  object
 36  Miscellaneous charges                                              99978 non-null  object
 37  Sanitation expenses                                                99979 non-null  object
 38  Public safety expenses                                             99987 non-null  object
 39  Marketing, holiday lighting, and special event expenses            99990 non-null  object
 40  Streetscape & beautification expenses                              99989 non-null  object
 41  Salaries                                                           99978 non-null  object
 42  Outside contractor expenses                                        99992 non-null  object
 43  Insurance costs                                                    99998 non-null  object
 44  Rent and utilities                                                 99970 non-null  object
 45  Supplies and equipment costs                                       99948 non-null  object
 46  Other G&A expenses                                                 99928 non-null  object
dtypes: float64(4), int64(16), object(27)
memory usage: 35.9+ MB

Columns J, Q and AE did not contain any values after 75, using python to fill in values

In [ ]:
#working on columns Types of duties assigned to sanitation workers, Communication channels used, Duties assigned to public safety personnel
#df['Types of duties assigned to sanitation workers']
import random
for i in range(75, 99998):
  df['Types of duties assigned to sanitation workers'][i] = df['Types of duties assigned to sanitation workers'][random.randrange(0,74)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df['Types of duties assigned to sanitation workers'][90000]

'Street Sweeping and Bagging; Power Washing; Snow and Ice Removal; Graffiti Removal'

In [ ]:
for i in range(75, 99998):
  df['Duties assigned to public safety personnel'][i] = df['Duties assigned to public safety personnel'][random.randrange(0,74)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df['Duties assigned to public safety personnel'][3000]

nan

In [ ]:
for i in range(75, 99998):
  df['Communication channels used'][i] = df['Communication channels used'][random.randrange(0,74)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df['Communication channels used'][90000]

In [ ]:
df.info()

In [ ]:
#Dropping unnecessary columns
df.drop(['Marketing, holiday lighting, and special event expenses','Rent and utilities','Other G&A expenses'], axis=1, inplace=True)

In [ ]:
df.shape

Now we shall replace all "$" signs in the columns to a null value

In [ ]:
#replace function for replacing all "$" sign to " " for the following - 

#Miscellaneous charges
#Public safety expenses
#Streetscape & beautification expenses
#Salaries
#Outside contractor expenses
#Insurance costs
#Supplies and equipment costs
#Sanitation expenses


df['Special event charges'] = df['Special event charges'].str.replace("$","")
df['Miscellaneous charges'] = df['Miscellaneous charges'].str.replace("$","")
df['Sanitation expenses'] = df['Sanitation expenses'].str.replace("$","")
df['Public safety expenses'] = df['Public safety expenses'].str.replace("$","")
df['Streetscape & beautification expenses'] = df['Streetscape & beautification expenses'].str.replace("$","")
df['Salaries'] = df['Salaries'].str.replace("$","")
df['Outside contractor expenses'] = df['Outside contractor expenses'].str.replace("$","")
df['Insurance costs'] = df['Insurance costs'].str.replace("$","")
df['Supplies and equipment costs'] = df['Supplies and equipment costs'].str.replace("$","")

In [ ]:
#Dropping unnecessary columns
df.head(1)

In [ ]:
df.shape

In [ ]:
df.head(1)

Replacing all "," by "" and all NaN values by 0<br>
Would be required for adding the total sum later

In [ ]:

df['Miscellaneous charges'] = df['Miscellaneous charges'].str.replace(",","").fillna("0")
df['Sanitation expenses'] = df['Sanitation expenses'].str.replace(",","").fillna("0")
df['Public safety expenses'] = df['Public safety expenses'].str.replace(",","").fillna("0")
df['Streetscape & beautification expenses'] = df['Streetscape & beautification expenses'].str.replace(",","").fillna("0")
df['Salaries'] = df['Salaries'].str.replace(",","").fillna("0")
df['Outside contractor expenses'] = df['Outside contractor expenses'].str.replace(",","").fillna("0")
df['Insurance costs'] = df['Insurance costs'].str.replace(",","").fillna("0")
df['Supplies and equipment costs'] = df['Supplies and equipment costs'].str.replace(",","").fillna("0")

In [ ]:
df['Miscellaneous charges']

In [ ]:
df['Public safety expenses']

In [ ]:
df['Total Quotation'] = df['Miscellaneous charges'].astype("int") + df['Public safety expenses'].astype("int") +  df['Sanitation expenses'].astype("int") + df['Streetscape & beautification expenses'].astype("int") 
+ df['Salaries'].astype("int") + df['Outside contractor expenses'].astype("int") + df['Insurance costs'].astype("int") +  df['Supplies and equipment costs'].astype("int")
df['Total Quotation']
#Streetscape & beautification expenses   Outside contractor expenses

In [ ]:
df.info()

Removing unnecessary attributes and merging some attributes

In [ ]:
df.drop(['Types of duties assigned to sanitation workers','Duties assigned to public safety personnel'],axis=1,inplace=True)

In [ ]:
df['Incidents of graffiti removed'] = df['Incidents of graffiti removed'].str.replace(",","")
df['Incidents of graffiti removed'] = df['Incidents of graffiti removed'].str.replace("-","0")
df['Incidents of graffiti removed'] = df['Incidents of graffiti removed'].fillna("0")

In [ ]:
df['Number_Of_Sanitation_Activities'] = df['Incidents of graffiti removed'].astype("float") + df['Trash bags collected'] + df['Trash and recycling receptacles serviced']

In [ ]:
df.drop(['Incidents of graffiti removed','Trash bags collected','Trash and recycling receptacles serviced'],axis=1,inplace=True)

In [ ]:
df['Street furniture elements maintained'] = df['Street furniture elements maintained'].fillna("0")
df['Wayfinding elements maintained'] = df['Wayfinding elements maintained'].fillna("0")
df['Lighting elements maintained'] = df['Lighting elements maintained'].fillna("0")
df['Other infrastructure elements maintained'] = df['Other infrastructure elements maintained'].fillna("0")

In [ ]:
df.dtypes

In [ ]:
df['Beautification_Activities'] = df['Planters and hanging baskets maintained'] + df['Tree pits maintained'] + df['Banners maintained'] + df['Public art installations sponsored'] 
+ df['Street furniture elements maintained']
+ df['Wayfinding elements maintained']
+ df['Lighting elements maintained']
+ df['Public spaces maintained']

df['Beautification_Activities']

In [ ]:
df.drop(['Planters and hanging baskets maintained','Tree pits maintained','Banners maintained','Public art installations sponsored','Street furniture elements maintained','Wayfinding elements maintained','Lighting elements maintained','Other infrastructure elements maintained','Public spaces maintained'],axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
df['Beautification_Activities'].isnull()

In [ ]:
df['Media_Reach'] = df['Social media followers'] + df['Marketing materials distributed'] + (df['Public events coordinated']*df['Estimated attendees to public events coordinated'])

In [ ]:
df.drop(['Social media followers','Marketing materials distributed','Public events coordinated','Estimated attendees to public events coordinated'],axis=1,inplace=True)

In [ ]:
df.drop(['index'],inplace=True, axis=1)

In [ ]:
df.dtypes

In [ ]:
df.drop(['Full-time staff'], inplace=True, axis=1)

In [ ]:
df['Total_Staff'] = df['Sanitation staff employed'] + df['Safety Inspector'] + df['Part-time staff']

In [ ]:
df.drop(['Sanitation staff employed','Safety Inspector','Part-time staff'], axis=1, inplace=True)

In [ ]:
df.shape

In [ ]:
import seaborn as sns
a = df.corr()
sns.heatmap(a)

**2. Modelling**

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.head(4)

In [ ]:
pd.to_numeric(df['Hours logged by public safety officers'])

In [ ]:
# Bid provides supplemental sanitation services --> Sanitation_services_provided
#Bid provides supplemental streetscape and beautification services   --->  beautification_services_provided
#Bid has holiday lighting program   ---> Holiday_program

df['Bid provides supplemental sanitation services'] = df.rename(columns={'Bid provides supplemental sanitation services': 'Sanitation_services_provided'}, inplace=True) 
df['Bid provides supplemental streetscape and beautification services'] = df.rename(columns={'Bid provides supplemental streetscape and beautification services': 'Beautification_services_provided'}, inplace=True)
df['Bid has holiday lighting program'] = df.rename(columns={'Bid has holiday lighting program':'Holiday_program'}, inplace=True)

In [ ]:
df.drop(['Bid provides supplemental sanitation services','Bid provides supplemental streetscape and beautification services','Bid has holiday lighting program'], inplace=True, axis=1)

In [ ]:
df.head(1)

In [ ]:
df.shape

Converting object to numeric datatype

In [ ]:
#Hours logged by public safety officers

#pd.to_numeric(df[''])

In [ ]:
df.info()

In [ ]:
#Separating the Attribute and target attribute
y = df.iloc[:,0] #Dependent
x = df.iloc[:,20] #Independent attributes

In [ ]:
x = x.values.reshape(-1, 1)

In [ ]:
y = y.values.reshape(-1, 1)

In [ ]:
y.shape

In [ ]:
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

In [ ]:
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)